.row{
    margin-bottom: 10px;
}
.header {
    text-align: center;
}
.header img {
    width: 150px;
}
.header h2 {
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 1px 1px 1px #132b5e;
}
.menu {
    background: #48b8e1;
    margin: 10px 0;
    height: 60px;

}
.menu .nav-tabs {
    border-bottom: 0;
}
.menu .nav>li>a {
    color: #fff;
}
.menu .nav li i {
    font-size: 16px;
    padding-right: 10px;
}
.menu li {
    border-right: 1px solid #ffffff;
    padding: 10px;
}
.menu .nav-tabs>li.active>a, .menu  .nav-tabs>li.active>a:focus, .menu  .nav-tabs>li.active>a:hover {
    background-color: transparent;
     border: 0;

}
.menu li:hover, .menu li.active {
    background: #132b5e;


}
.menu .nav>li>a:hover{
    background: #132b5e;
    border: 0;

}
.menu li:hover a , .menu li.active a {
    color: #fff !important;

}
.menu li:last-child {
    border-right: 0;
}
.menu .nav-tabs>li>a {
    border: 0;
}
.body_site {
    background: url('../images/back_app.jpg') no-repeat;
    background-size: cover;
    margin-top:-10px;
    min-height: 470px;
}
html, body {
    height: 100%;
}
.body_site {
    height: calc(100% - 267px);
}
.content-server, .content-client, .content-tags, .content-home {
    background: #fff;
    margin: 20px 0;
    border-radius: 10px;
}
.hidden {
    visibility: hidden;
}
.body_site h4 , h4{
    margin: 20px;
    text-align: center;
    color: #132b5e;
    font-size: 25px;
}
.input-group-addon {
    background: #132b5e;
    border: 1px solid #132b5e;
    color: #fff;
    float: left;
    width: 30px;
    padding: 11.5px 6px;
}

.input-group  .for_labels{
    font-weight: 100;
    color: #48b8e1;
    font-size: 17px;
    width: 100px;
    float: left;
    display: block;
}
.input-group {
    margin: 20px 0;
}
.plus_btn {
    background: #48b8e1;
    color: #fff !important;
    display: block;
    margin: 10px auto;
}

.search-btn {
    background: #48b8e1;
    color: #fff !important;
}

.login-btn, .logout-btn, .clean-btn {
    background: #48b8e1;
    color: #fff !important;
    margin-left: 10px;
}

.rigth {
    float: right;
}

.input-group input[type="text"], .bootstrap-tagsinput  input[type="text"], .bootstrap-tagsinput input:focus {
    border: 1px solid #132b5e;
    height: 39px;
}
.bootstrap-tagsinput  input[type="text"], .bootstrap-tagsinput input:focus {
    height: 37px;
}
.bootstrap-tagsinput input[type="text"] {
    min-height: 37px;
    overflow: scroll;
    margin-top: 0;
    border: 0;
    width: 100%;
}
.input-group .bootstrap-tagsinput {
    width: 70%;
    padding: 0 !important;
    box-shadow: 0 0 0 !important;
    border: 1px solid #132b5e !important;
    min-height: 37px;
    border-radius:0;
}

.bootstrap-tagsinput .tag {
    margin-left: 4px;
}
.input-group {
    width: 100%;
}

.input-group.medium {
    width: 90%;
    margin: 20px auto;
}
.input-group .form-control.medium{
    width: 20% !important;
}

.input-group  .for_labels.medium {
    width: 130px;
}
.input-group .form-control  {
    float: left;
    width: 70%;
}
.table>thead>tr>td, .table>thead>tr>th {
    color: #132b5e;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
.table-bordered {
    width: 90%;
    margin: 20px auto;
}
.delete_btn {
    width:90px;
}

.dg {
    padding: 10px;
    text-align: center;

}